<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>直辖市</key>
	<dict>
		<key>北京市</key>
		<string>1000</string>
		<key>天津市</key>
		<string>1100</string>
		<key>重庆市</key>
		<string>6900</string>
		<key>上海市</key>
		<string>2900</string>
	</dict>
	<key>河北省</key>
	<dict>
		<key>石家庄市</key>
		<string>1210</string>
		<key>唐山市</key>
		<string>1240</string>
		<key>衡水市</key>
		<string>1480</string>
		<key>廊坊市</key>
		<string>1460</string>
		<key>沧州市</key>
		<string>1430</string>
		<key>承德市</key>
		<string>1410</string>
		<key>张家口市</key>
		<string>1380</string>
		<key>保定市</key>
		<string>1340</string>
		<key>邢台市</key>
		<string>1310</string>
		<key>邯郸市</key>
		<string>1270</string>
		<key>秦皇岛市</key>
		<string>1260</string>
	</dict>
	<key>山西省</key>
	<dict>
		<key>吕梁市</key>
		<string>1730</string>
		<key>临汾市</key>
		<string>1770</string>
		<key>运城市</key>
		<string>1810</string>
		<key>忻州市</key>
		<string>1710</string>
		<key>晋中市</key>
		<string>1750</string>
		<key>朔州市</key>
		<string>1690</string>
		<key>晋城市</key>
		<string>1680</string>
		<key>长治市</key>
		<string>1660</string>
		<key>阳泉市</key>
		<string>1650</string>
		<key>太原市</key>
		<string>1610</string>
		<key>大同市</key>
		<string>1620</string>
	</dict>
	<key>内蒙古</key>
	<dict>
		<key>呼和浩特市</key>
		<string>1910</string>
		<key>阿拉善盟</key>
		<string>2080</string>
		<key>巴彦淖尔市</key>
		<string>2070</string>
		<key>鄂尔多斯市</key>
		<string>2050</string>
		<key>乌兰察布市</key>
		<string>2030</string>
		<key>锡林郭勒盟</key>
		<string>2010</string>
		<key>通辽市</key>
		<string>1990</string>
		<key>兴安盟</key>
		<string>1980</string>
		<key>呼伦贝尔市</key>
		<string>1960</string>
		<key>赤峰市</key>
		<string>1940</string>
		<key>乌海市</key>
		<string>1930</string>
		<key>包头市</key>
		<string>1920</string>
	</dict>
	<key>辽宁省</key>
	<dict>
		<key>沈阳市</key>
		<string>2210</string>
		<key>大连市</key>
		<string>2220</string>
		<key>鞍山市</key>
		<string>2230</string>
		<key>抚顺市</key>
		<string>2240</string>
		<key>本溪市</key>
		<string>2250</string>
		<key>丹东市</key>
		<string>2260</string>
		<key>锦州市</key>
		<string>2270</string>
		<key>营口市</key>
		<string>2280</string>
		<key>阜新市</key>
		<string>2290</string>
		<key>辽阳市</key>
		<string>2310</string>
		<key>盘锦市</key>
		<string>2320</string>
		<key>铁岭市</key>
		<string>2330</string>
		<key>朝阳市</key>
		<string>2340</string>
		<key>葫芦岛市</key>
		<string>2360</string>
	</dict>
	<key>吉林省</key>
	<dict>
		<key>长春市</key>
		<string>2410</string>
		<key>吉林市</key>
		<string>2420</string>
		<key>四平市</key>
		<string>2430</string>
		<key>辽源市</key>
		<string>2440</string>
		<key>通化市</key>
		<string>2450</string>
		<key>白山市</key>
		<string>2460</string>
		<key>白城市</key>
		<string>2470</string>
		<key>延边朝鲜族自治州</key>
		<string>2490</string>
		<key>松原市</key>
		<string>2510</string>
	</dict>
	<key>黑龙江省</key>
	<dict>
		<key>哈尔滨市</key>
		<string>2610</string>
		<key>齐齐哈尔市</key>
		<string>2640</string>
		<key>鸡西市</key>
		<string>2660</string>
		<key>鹤岗市</key>
		<string>2670</string>
		<key>双鸭山市</key>
		<string>2680</string>
		<key>大庆市</key>
		<string>2690</string>
		<key>伊春市</key>
		<string>2710</string>
		<key>佳木斯市</key>
		<string>2720</string>
		<key>七台河市</key>
		<string>2740</string>
		<key>牡丹江市</key>
		<string>2750</string>
		<key>绥化市</key>
		<string>2760</string>
		<key>黑河市</key>
		<string>2780</string>
		<key>大兴安岭地区</key>
		<string>2790</string>
	</dict>
	<key>江苏省</key>
	<dict>
		<key>南京市</key>
		<string>3010</string>
		<key>无锡市</key>
		<string>3020</string>
		<key>徐州市</key>
		<string>3030</string>
		<key>常州市</key>
		<string>3040</string>
		<key>苏州市</key>
		<string>3050</string>
		<key>南通市</key>
		<string>3060</string>
		<key>连云港市</key>
		<string>3070</string>
		<key>淮安市</key>
		<string>3080</string>
		<key>盐城市</key>
		<string>3110</string>
		<key>扬州市</key>
		<string>3120</string>
		<key>镇江市</key>
		<string>3140</string>
		<key>泰州市</key>
		<string>3160</string>
		<key>宿迁市</key>
		<string>3180</string>
	</dict>
	<key>浙江省</key>
	<dict>
		<key>杭州市</key>
		<string>3310</string>
		<key>宁波市</key>
		<string>3320</string>
		<key>温州市</key>
		<string>3330</string>
		<key>嘉兴市</key>
		<string>3350</string>
		<key>湖州市</key>
		<string>3360</string>
		<key>绍兴市</key>
		<string>3370</string>
		<key>金华市</key>
		<string>3380</string>
		<key>衢州市</key>
		<string>3410</string>
		<key>舟山市</key>
		<string>3420</string>
		<key>丽水市</key>
		<string>3430</string>
		<key>台州市</key>
		<string>1501</string>
	</dict>
	<key>安徽省</key>
	<dict>
		<key>合肥市</key>
		<string>3610</string>
		<key>芜湖市</key>
		<string>3620</string>
		<key>蚌埠市</key>
		<string>3630</string>
		<key>淮南市</key>
		<string>3640</string>
		<key>马鞍山市</key>
		<string>3650</string>
		<key>淮北市</key>
		<string>3660</string>
		<key>铜陵市</key>
		<string>3670</string>
		<key>安庆市</key>
		<string>3680</string>
		<key>黄山市</key>
		<string>3710</string>
		<key>阜阳市</key>
		<string>3720</string>
		<key>宿州市</key>
		<string>3740</string>
		<key>滁州市</key>
		<string>3750</string>
		<key>六安市</key>
		<string>3760</string>
		<key>宣城市</key>
		<string>3770</string>
		<key>巢湖市</key>
		<string>3780</string>
		<key>池州市</key>
		<string>3790</string>
		<key>亳州市</key>
		<string>3810</string>
	</dict>
	<key>福建省</key>
	<dict>
		<key>福州市</key>
		<string>3910</string>
		<key>厦门市</key>
		<string>3930</string>
		<key>莆田市</key>
		<string>3940</string>
		<key>三明市</key>
		<string>3950</string>
		<key>泉州市</key>
		<string>3970</string>
		<key>漳州市</key>
		<string>3990</string>
		<key>南平市</key>
		<string>4010</string>
		<key>宁德市</key>
		<string>4030</string>
		<key>龙岩市</key>
		<string>4050</string>
	</dict>
	<key>江西省</key>
	<dict>
		<key>南昌市</key>
		<string>4210</string>
		<key>景德镇市</key>
		<string>4220</string>
		<key>萍乡市</key>
		<string>4230</string>
		<key>九江市</key>
		<string>4240</string>
		<key>新余市</key>
		<string>4260</string>
		<key>鹰潭市</key>
		<string>4270</string>
		<key>赣州市</key>
		<string>4280</string>
		<key>宜春市</key>
		<string>4310</string>
		<key>上饶市</key>
		<string>4330</string>
		<key>吉安市</key>
		<string>4350</string>
		<key>抚州市</key>
		<string>4370</string>
	</dict>
	<key>山东省</key>
	<dict>
		<key>济南市</key>
		<string>4510</string>
		<key>青岛市</key>
		<string>4520</string>
		<key>淄博市</key>
		<string>4530</string>
		<key>枣庄市</key>
		<string>4540</string>
		<key>东营市</key>
		<string>4550</string>
		<key>烟台市</key>
		<string>4560</string>
		<key>潍坊市</key>
		<string>4580</string>
		<key>济宁市</key>
		<string>4610</string>
		<key>泰安市</key>
		<string>4630</string>
		<key>威海市</key>
		<string>4650</string>
		<key>滨州市</key>
		<string>4660</string>
		<key>德州市</key>
		<string>4680</string>
		<key>聊城市</key>
		<string>4710</string>
		<key>临沂市</key>
		<string>4730</string>
		<key>荷泽市</key>
		<string>4750</string>
		<key>日照市</key>
		<string>4770</string>
		<key>莱芜市</key>
		<string>4790</string>
	</dict>
	<key>河南省</key>
	<dict>
		<key>郑州市</key>
		<string>4910</string>
		<key>开封市</key>
		<string>4920</string>
		<key>洛阳市</key>
		<string>4930</string>
		<key>平顶山市</key>
		<string>4950</string>
		<key>安阳市</key>
		<string>4960</string>
		<key>鹤壁市</key>
		<string>4970</string>
		<key>新乡市</key>
		<string>4980</string>
		<key>焦作市</key>
		<string>5010</string>
		<key>濮阳市</key>
		<string>5020</string>
		<key>许昌市</key>
		<string>5030</string>
		<key>漯河市</key>
		<string>5040</string>
		<key>三门峡市</key>
		<string>5050</string>
		<key>商丘市</key>
		<string>5060</string>
		<key>周口市</key>
		<string>5080</string>
		<key>驻马店市</key>
		<string>5110</string>
		<key>南阳市</key>
		<string>5130</string>
		<key>信阳市</key>
		<string>5150</string>
	</dict>
	<key>湖北省</key>
	<dict>
		<key>武汉市</key>
		<string>5210</string>
		<key>随州市</key>
		<string>5286</string>
		<key>黄石市</key>
		<string>5220</string>
		<key>十堰市</key>
		<string>5230</string>
		<key>宜昌市</key>
		<string>5250</string>
		<key>襄阳市</key>
		<string>5280</string>
		<key>鄂州市</key>
		<string>5310</string>
		<key>荆门市</key>
		<string>5320</string>
		<key>黄冈市</key>
		<string>5330</string>
		<key>孝感市</key>
		<string>5350</string>
		<key>咸宁市</key>
		<string>5360</string>
		<key>荆州市</key>
		<string>5370</string>
		<key>恩施土家族苗族自治州</key>
		<string>5410</string>
	</dict>
	<key>湖南省</key>
	<dict>
		<key>长沙市</key>
		<string>5510</string>
		<key>株洲市</key>
		<string>5520</string>
		<key>湘潭市</key>
		<string>5530</string>
		<key>衡阳市</key>
		<string>5540</string>
		<key>邵阳市</key>
		<string>5550</string>
		<key>岳阳市</key>
		<string>5570</string>
		<key>常德市</key>
		<string>5580</string>
		<key>张家界市</key>
		<string>5590</string>
		<key>益阳市</key>
		<string>5610</string>
		<key>娄底市</key>
		<string>5620</string>
		<key>郴州市</key>
		<string>5630</string>
		<key>永州市</key>
		<string>5650</string>
		<key>怀化市</key>
		<string>5670</string>
		<key>湘西土家族苗族自治州</key>
		<string>5690</string>
	</dict>
	<key>广东省</key>
	<dict>
		<key>广州市</key>
		<string>5810</string>
		<key>韶关市</key>
		<string>5820</string>
		<key>深圳市</key>
		<string>5840</string>
		<key>珠海市</key>
		<string>5850</string>
		<key>汕头市</key>
		<string>5860</string>
		<key>佛山市</key>
		<string>5880</string>
		<key>江门市</key>
		<string>5890</string>
		<key>湛江市</key>
		<string>5910</string>
		<key>茂名市</key>
		<string>5920</string>
		<key>肇庆市</key>
		<string>5930</string>
		<key>惠州市</key>
		<string>5950</string>
		<key>梅州市</key>
		<string>5960</string>
		<key>汕尾市</key>
		<string>5970</string>
		<key>河源市</key>
		<string>5980</string>
		<key>阳江市</key>
		<string>5990</string>
		<key>清远市</key>
		<string>6010</string>
		<key>东莞市</key>
		<string>6020</string>
		<key>中山市</key>
		<string>6030</string>
		<key>潮州市</key>
		<string>6040</string>
		<key>揭阳市</key>
		<string>6050</string>
		<key>云浮市</key>
		<string>6060</string>
	</dict>
	<key>广西省</key>
	<dict>
		<key>南宁市</key>
		<string>6110</string>
		<key>柳州市</key>
		<string>6140</string>
		<key>桂林市</key>
		<string>6170</string>
		<key>梧州市</key>
		<string>6210</string>
		<key>北海市</key>
		<string>6230</string>
		<key>玉林市</key>
		<string>6240</string>
		<key>百色市</key>
		<string>6260</string>
		<key>河池市</key>
		<string>6280</string>
		<key>钦州市</key>
		<string>6310</string>
		<key>防城港市</key>
		<string>6320</string>
		<key>贵港市</key>
		<string>6330</string>
		<key>贺州市</key>
		<string>6340</string>
		<key>来宾市</key>
		<string>6350</string>
		<key>崇左市</key>
		<string>6360</string>
	</dict>
	<key>海南省</key>
	<dict>
		<key>海口市</key>
		<string>6410</string>
		<key>三亚市</key>
		<string>6420</string>
	</dict>
	<key>四川省</key>
	<dict>
		<key>成都市</key>
		<string>6510</string>
		<key>自贡市</key>
		<string>6550</string>
		<key>攀枝花市</key>
		<string>6560</string>
		<key>泸州市</key>
		<string>6570</string>
		<key>德阳市</key>
		<string>6580</string>
		<key>绵阳市</key>
		<string>6590</string>
		<key>广元市</key>
		<string>6610</string>
		<key>遂宁市</key>
		<string>6620</string>
		<key>内江市</key>
		<string>6630</string>
		<key>乐山市</key>
		<string>6650</string>
		<key>宜宾市</key>
		<string>6710</string>
		<key>南充市</key>
		<string>6730</string>
		<key>达州市</key>
		<string>6750</string>
		<key>雅安市</key>
		<string>6770</string>
		<key>阿坝藏族羌族自治州</key>
		<string>6790</string>
		<key>甘孜藏族自治州</key>
		<string>6810</string>
		<key>凉山彝族自治州</key>
		<string>6840</string>
		<key>眉山市</key>
		<string>6670</string>
		<key>广安市</key>
		<string>6690</string>
		<key>巴中市</key>
		<string>6870</string>
		<key>资阳市</key>
		<string>6880</string>
	</dict>
	<key>贵州省</key>
	<dict>
		<key>贵阳市</key>
		<string>7010</string>
		<key>六盘水市</key>
		<string>7020</string>
		<key>遵义市</key>
		<string>7030</string>
		<key>铜仁地区</key>
		<string>7050</string>
		<key>黔西南布依族苗族自治州</key>
		<string>7070</string>
		<key>毕节地区</key>
		<string>7090</string>
		<key>安顺市</key>
		<string>7110</string>
		<key>黔东南苗族侗族自治州</key>
		<string>7130</string>
		<key>黔南布依族苗族自治州</key>
		<string>7150</string>
	</dict>
	<key>云南省</key>
	<dict>
		<key>昆明市</key>
		<string>7310</string>
		<key>昭通市</key>
		<string>7340</string>
		<key>曲靖市</key>
		<string>7360</string>
		<key>楚雄彝族自治州</key>
		<string>7380</string>
		<key>玉溪市</key>
		<string>7410</string>
		<key>红河哈尼族彝族自治州</key>
		<string>7430</string>
		<key>文山壮族苗族自治州</key>
		<string>7450</string>
		<key>思茅市</key>
		<string>7470</string>
		<key>西双版纳傣族自治州</key>
		<string>7490</string>
		<key>大理白族自治州</key>
		<string>7510</string>
		<key>保山市</key>
		<string>7530</string>
		<key>德宏傣族景颇族自治州</key>
		<string>7540</string>
		<key>丽江市</key>
		<string>7550</string>
		<key>怒江傈僳族自治州</key>
		<string>7560</string>
		<key>迪庆藏族自治州</key>
		<string>7570</string>
		<key>临沧市</key>
		<string>7580</string>
	</dict>
	<key>西藏</key>
	<dict>
		<key>拉萨市</key>
		<string>7710</string>
		<key>昌都地区</key>
		<string>7720</string>
		<key>山南地区</key>
		<string>7740</string>
		<key>日喀则地区</key>
		<string>7760</string>
		<key>那曲地区</key>
		<string>7790</string>
		<key>阿里地区</key>
		<string>7810</string>
		<key>林芝地区</key>
		<string>7830</string>
	</dict>
	<key>陕西省</key>
	<dict>
		<key>西安市</key>
		<string>7910</string>
		<key>铜川市</key>
		<string>7920</string>
		<key>宝鸡市</key>
		<string>7930</string>
		<key>咸阳市</key>
		<string>7950</string>
		<key>渭南市</key>
		<string>7970</string>
		<key>汉中市</key>
		<string>7990</string>
		<key>安康市</key>
		<string>8010</string>
		<key>商洛市</key>
		<string>8030</string>
		<key>延安市</key>
		<string>8040</string>
		<key>榆林市</key>
		<string>8060</string>
	</dict>
	<key>甘肃省</key>
	<dict>
		<key>兰州市</key>
		<string>8210</string>
		<key>嘉峪关市</key>
		<string>8220</string>
		<key>金昌市</key>
		<string>8230</string>
		<key>白银市</key>
		<string>8240</string>
		<key>天水市</key>
		<string>8250</string>
		<key>酒泉市</key>
		<string>8260</string>
		<key>张掖市</key>
		<string>8270</string>
		<key>武威市</key>
		<string>8280</string>
		<key>定西市</key>
		<string>8290</string>
		<key>陇南市</key>
		<string>8310</string>
		<key>平凉市</key>
		<string>8330</string>
		<key>庆阳市</key>
		<string>8340</string>
		<key>临夏回族自治州</key>
		<string>8360</string>
		<key>甘南藏族自治州</key>
		<string>8380</string>
	</dict>
	<key>青海省</key>
	<dict>
		<key>西宁市</key>
		<string>8510</string>
		<key>海东地区</key>
		<string>8520</string>
		<key>海北藏族自治州</key>
		<string>8540</string>
		<key>黄南藏族自治州</key>
		<string>8550</string>
		<key>海南藏族自治州</key>
		<string>8560</string>
		<key>果洛藏族自治州</key>
		<string>8570</string>
		<key>玉树藏族自治州</key>
		<string>8580</string>
		<key>海西蒙古族藏族自治州</key>
		<string>8590</string>
	</dict>
	<key>宁夏</key>
	<dict>
		<key>银川市</key>
		<string>8710</string>
		<key>石嘴山市</key>
		<string>8720</string>
		<key>吴忠市</key>
		<string>8730</string>
		<key>固原市</key>
		<string>8740</string>
		<key>中卫市</key>
		<string>8750</string>
	</dict>
	<key>新疆</key>
	<dict>
		<key>乌鲁木齐市</key>
		<string>8810</string>
		<key>克拉玛依市</key>
		<string>8820</string>
		<key>吐鲁番地区</key>
		<string>8830</string>
		<key>哈密地区</key>
		<string>8840</string>
		<key>昌吉回族自治州</key>
		<string>8850</string>
		<key>博尔塔拉蒙古自治州</key>
		<string>8870</string>
		<key>巴音郭楞蒙古自治州</key>
		<string>8880</string>
		<key>阿克苏地区</key>
		<string>8910</string>
		<key>克孜勒苏柯尔克孜自治州</key>
		<string>8930</string>
		<key>喀什地区</key>
		<string>8940</string>
		<key>和田地区</key>
		<string>8960</string>
		<key>伊犁哈萨克自治州</key>
		<string>8980</string>
		<key>塔城地区</key>
		<string>9010</string>
		<key>阿勒泰地区</key>
		<string>9020</string>
	</dict>
</dict>
</plist>
